body{
    margin: 0;
    color: #4e4040;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(157,160,175,1) 0%, rgba(86,129,219,1) 100%); */
}

img{
    width: 6.25rem;
    border-radius: .625rem;
    height: 5rem;
    /* border-top-right-radius: 10px; */
    box-shadow: 2px 4px 8px rgb(68,67,67);
}
.thumbnail-img img{
    width: 10rem;
    border-radius: .625rem;
    height: 10rem;
    object-fit: cover;
    /* border-top-right-radius: 10px; */
    box-shadow: 2px 4px 8px rgb(68,67,67);
}
#title{
    /* padding-bottom: 2rem; */
    display: flex;
    align-items: center;

    justify-content: center;
    background-color: #D8C4B6;

}
h1{
    font-size: 3rem;
    

}


ul{
    list-style-type: none;
    padding: 2rem ;
}
#main-display-div{
    width: 70rem;
    height: auto;
    border: 1px transparent black;
    margin: 2rem 10rem;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to top, #808080 0%, #dbdbe2 10%)
}
#all-things-form{
    width: 50rem;
}
#main-display{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
#logo{
    margin-right: 20px;
}

#submit{
    text-align: center;
}
#past-reviews{
    list-style-type: none;
    background: linear-gradient(to top, #808080 0%, #dbdbe2 10%);
    border-radius: 10px;
    /* box-shadow: 2px 4px 8px rgb(68,67,67); */

}
#past-reviews li{
    list-style-type: none;
    padding: 10px;
    padding-left: 4px;
    margin-bottom: 5px;
    background: white;
    border: rgb(159, 159, 163) .1px solid;
    box-shadow: 1px 2px 4px rgb(118, 117, 117);
    border-radius: 10px;
    margin-bottom: 5px;
    
}
#btn{
    background-color: #7f7a7a;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(118, 117, 117);
}
#form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 65rem; */
    width: 75%;
    margin: auto;
    padding-bottom: 3rem;
}

.selected{
    border: 3px solid rgb(153, 135, 135);
    border-radius: 10px;
    
}
.thumbnail-img:hover{
    opacity: 0.7;
    transform: scale(1.2, 1.2);
    transition: all 2s;
}

.house{
    margin: auto;
}

#all-things-form h3{
    text-align: center;
}
#house{
    margin: auto;
}
#house-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
    /* width: 1000px; */
}

#house-list div{
    width: 16rem;
    height: 10rem;
    font-size: 75%;
    text-align: center;
}
main{
    background-color: #F5EFE7;
    padding-bottom: 2rem;
}
footer{
    padding: 2rem;
    /* padding-top: 3rem;s */
    color: aliceblue;
    text-align: center;
    background-color: #88807a;
}
.image-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#filter-options{
    width: 40rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: antiquewhite;
    margin: 1rem;
}
a:hover{
    color: rgb(223, 144, 64);
}
#new-reviews{
    border: .5px solid rgb(146, 146, 146);
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(118, 117, 117);
}
#submit{
    display: inline-block;
}

@media(max-width: 1099px){
    #form-container{
        flex-wrap: wrap;
    }
    #all-things-form{
        width:50%;
        margin: auto;
    }
    #main-display-div{
        height: 50%;
        width: auto;
        padding: 30px;
    }
    
}